<h3><%= Comment.model_name.human %></h3>
<table>
  <thead>
    <tr>
      <th><%= Comment.human_attribute_name(:user) %></th>
      <th><%= Comment.human_attribute_name(:created_at) %></th>
      <th><%= Comment.human_attribute_name(:body) %></th>
    </tr>
  </thead>

  <tbody>
    <% commentable.comments.each do |comment| %>
      <tr>
        <td><%= name_or_email(comment.user_id) %></td>
        <td><%= l comment.created_at %></td>
        <td><%= comment.body %></td>
      </tr>
    <% end %>
  </tbody>
</table>
